.App {
  text-align: center;
}

/* .wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: grid;
} */

.timerFrame {
  width: auto;
  margin-top: -100px;
  float: right;
  margin-right: 50px;
}

.bar {
  border: solid black 1px;
  width: 1200px;
  margin: auto;
}

.colorchart {
  width: auto;
  margin: auto;
  margin-left: 50px;
}

.board {
  width: 804px;
  height: 804px;
  border: solid black 2px;
  margin: auto;
  margin-top: 35px;
}

.color-group {
  width: 5%;
  float: left;
  display: block;
}
.color-block {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.color-block div {
  font-size: 2em;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
}
